body {
    margin: 0;
    font-family: Arial;
}

/* HEADER */
header {
    background: linear-gradient(90deg,#ff512f,#dd2476);
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */
.hero {
    height: 400px;
    background: url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5") center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background: orange;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    transform: scale(1.1);
}

/* MENU */
.menu {
    padding: 40px;
    text-align: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.menu-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px gray;
    padding: 15px;
    transition: 0.3s;
}

.menu-card img {
    width: 100%;
    border-radius: 10px;
}

.menu-card:hover {
    transform: translateY(-10px);
}

/* CONTACT */
.contact {
    background: #f4f4f4;
    padding: 40px;
    text-align: center;
}

form input, textarea {
    width: 80%;
    padding: 10px;
    margin: 10px;
}

form button {
    padding: 10px 20px;
    background: #ff512f;
    color: white;
    border: none;
    cursor: pointer;
}

#success {
    color: green;
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

/* MOBILE */
@media(max-width:600px){
    .hero { height: 250px; }
}
.menu-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.menu-card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}

button:hover {
    transform: scale(1.1);
}
.menu-card {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {opacity:0; transform: translateY(30px);}
    to {opacity:1; transform: translateY(0);}
}
.slider {
    position: absolute;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.slide.active {
    opacity: 1;
}
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
}
.dark {
    background: #111;
    color: white;
}